# **Question 1**

In [41]:
class Counter:
  count = 0

  def __init__(self):
    self.count = 0

  def increment(self):
    self.count += 1
    Counter.count += 1

  def get_counts(self):
    return f"Instance count: {self.count}, Class Count: {Counter.count}"

a = Counter()
b = Counter()
c = Counter()

print(a.increment())
print(c.increment())

c.get_counts()

None
None

'Instance count: 1, Class Count: 2'

The difference between Counter and count is Counter.count is a class variable, _count is a instance variable.

# **Question 2**

In [42]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

# **Question 3**

In [43]:
def first_word(word_list):
  word_list.sort()
  return word_list[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
first = first_word(students)
first

'Bartholomew'

# **Question 4**

In [44]:
class Employee:
  no_of_employees = 0
  total_salary = 0
  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department

    Employee.no_of_employees += 1
    Employee.total_salary += salary

  def average_salary():
    return Employee.total_salary / Employee.no_of_employees

  def display_employee(self):
    print(f"Name: {self.name}, Family: {self.family}, Salary: ${self.salary}, Department: {self.department}")

class FulltimeEmployee(Employee):
  def __init__(self, name, family, salary, department, benefits):
    super().__init__(name, family, salary, department)

  def display_employee(self):
    super().display_employee()
    print(f"Benefits: {self.benefits}")


Emp1 = Employee("Bobby", "Dean", 980000, "Software")
Emp2 = Employee("Jane", "foster", 897000, "AI Engineer")

Emp1.display_employee()
Emp2.display_employee()
print(Employee.average_salary())

Name: Bobby, Family: Dean, Salary: $980000, Department: Software
Name: Jane, Family: foster, Salary: $897000, Department: AI Engineer
938500.0