# **Question 5 A**

In [ ]:
python_list = []
input_string = input("Enter the string 'Python': ")

for char in input_string:
  python_list.append(char)

del python_list[4]
del python_list[4]


reversed_list = python_list[::-1]

reversed_string = "".join(reversed_list)
reversed_string

Enter the string 'Python': Python

'htyP'

# **Question 5 B**

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Addition
sum_result = num1 + num2
print(f"{num1} + {num2} = {sum_result}")

# Subtraction
difference_result = num1 - num2
print(f"{num1} - {num2} = {difference_result}")

# Multiplication
product_result = num1 * num2
print(f"{num1} * {num2} = {product_result}")

# Division
if num2 != 0:
  division_result = num1 / num2
  print(f"{num1} / {num2} = {division_result}")
else:
  print("Cannot divide by zero.")

Enter the first number: 3
Enter the second number: 4
3.0 + 4.0 = 7.0
3.0 - 4.0 = -1.0
3.0 * 4.0 = 12.0
3.0 / 4.0 = 0.75

# **Question 6**

In [ ]:
sentence = input("Enter a sentence: ")
modified_sentence = sentence.replace('python', 'pythons')
modified_sentence

Enter a sentence: I love playing with python

'I love playing with pythons'

# **Question 7**

In [ ]:
score = int(input("Enter the class score: "))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

Enter the class score: 55
F

# **Question 8**

In [ ]:
x = [23, 'Python', 23.98]
print(x)
types = []
for item in x:
  types.append(type(item))
types

[23, 'Python', 23.98]

[int, str, float]

# **Question 9**

In [17]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set IT_companies
print(len(IT_companies))

# Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print(IT_companies)

# Insert multiple IT companies at once to the set IT_companies
new_companies = {'Netflix', 'LinkedIn'}
IT_companies.update(new_companies)
print(IT_companies)

# Remove one of the companies from the set IT_companies
IT_companies.remove('Oracle')
print(IT_companies)

# What is the difference between remove and discard
# remove will raise a KeyError if the item is not found, discard will not.
IT_companies.discard('IBM')
print(IT_companies)
# Example of discard (assuming 'Yahoo' is not in the set):
IT_companies.discard('Yahoo')
print(IT_companies)
# Example of remove (will raise KeyError if 'Yahoo' is not in the set):
# IT_companies.remove('Yahoo') # Uncomment to see the error

# Join A and B
print(A.union(B))

# Find A intersection B
print(A.intersection(B))

# Is A subset of B
print(A.issubset(B))

# Are A and B disjoint sets
print(A.isdisjoint(B))

# Join A with B and B with A
print(A.union(B))
print(B.union(A))

# What is the symmetric difference between A and B
print(A.symmetric_difference(B))

# Delete the sets completely
del IT_companies
del A
del B

# Convert the ages to a set and compare the length of the list and the set.
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))
print("Ages list:", age)
print("Ages set:", age_set)

7
{'IBM', 'Microsoft', 'Oracle', 'Google', 'Apple', 'Facebook', 'Twitter', 'Amazon'}
{'IBM', 'LinkedIn', 'Microsoft', 'Google', 'Apple', 'Twitter', 'Amazon', 'Netflix', 'Oracle', 'Facebook'}
{'IBM', 'LinkedIn', 'Microsoft', 'Google', 'Apple', 'Twitter', 'Amazon', 'Netflix', 'Facebook'}
{'LinkedIn', 'Microsoft', 'Google', 'Apple', 'Twitter', 'Amazon', 'Netflix', 'Facebook'}
{'LinkedIn', 'Microsoft', 'Google', 'Apple', 'Twitter', 'Amazon', 'Netflix', 'Facebook'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
Length of age list: 8
Length of age set: 5
Ages list: [22, 19, 24, 25, 26, 24, 25, 24]
Ages set: {19, 22, 24, 25, 26}